/* begin styles */

body {
  background-color: white;
  text align: justify;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 35px;
  padding-top: 10px;
}

.title {
  font-size: 150%;
  color: #f36f64;
}

p {
  color: #494843;
}

h3 {
  font-size: 150%;
  color: #494843;
}

ul {
  list-style: none;
}

a:link {
  list-style-position: inside;
  font-weight: bold;
  text-decoration: none;
  color: #b5bab6;
  position: inside
}

a:visited {
  list-style-position: inside;
  font-weight: bold;
  text-decoration: none;
  color: #b5bab6;
}

a:hover {
  list-style-position: inside;
  font-weight: bold;
  text-decoration: none;
  color: #f36f64;
}

.weekly-exercises {
  font-size: 150%;
  color: #f36f64;
}

.projects {
  font-size: 150%;
  color: #f36f64;
}