* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.beep {
    position: relative;
    color: white;
    font-size: 800%;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    left: 20px;
    top: 250px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    position: relative;
    color: white;
    font-size: 800%;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
    left: 20px;
    top: 250px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

.marquee2 span {
    animation-delay: 300s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

body {
    background-color: black;
}

.static {
    padding-left: 180px;
    padding-top: 70px;
    position: absolute;
    display: block;
    height: auto;
    width: 85%;
}

.static:hover {
    opacity: 0;
}

.active {
    padding-left: 180px;
    padding-top: 70px;
    display: block;
    position: absolute;
    height: auto;
    width: 85%;
}