/* begin styles */


body {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  text-align: justify;
  padding: 25px;
  padding-right: 300px;
}


h1 {
  color: #f36f64
}

.interview {
  color: #b5bab6
}

.campic {
  float: right
}

/* div {
    padding: 25px
  } */

.question {
  color: #494843;
  font-style: bold;
}

.answer {
  color: #b5bab6;
}