/* begin styles */
h1 {
  color: #f36f64;
}

body {
  background-color: whitesmoke;
  text-align: justify;
}

/* div {
    padding: 25px
  } */

.question {
  color: #f36f64;
  font-style: bold;
  font-family:
}

.answer {
  color: black;
}